html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.button {
    font-weight: bolder;
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.container {
    background-color: rgb(226, 199, 208);
    width: 320px;
    border-radius: 10px;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #665c5c;
    color: white;
}

.text-center {
    text-align: center;
}

.bg-red {
    background: red;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}